@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

.title h2 {
  color: #fff;
  position: relative;
  margin-top: 0px;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 4em;
  font-family: 'Mountains of Christmas';
  text-shadow: 0px 0px 8px rgba(255,65,185,1);
}

